.service-pagination {
        padding-right: 15px;
        margin-top: 0;
}

.pagination-more {
        border-top: 0 !important;
        border-bottom: 0 !important;
}

.pagination-more:hover {
        background-color: #fff !important;
        color:#489ddd !important;
}

//.yan-pagination-table {
//        position: relative;
//        bottom: 14px;
//        right: 5px;
//}
.pagination-area>div{
overflow: hidden;
}
.pagination {
        padding-right: 15px;
        margin: 0!important;
}
.total-number{
        margin-right: 20px;
}