<div class="alert alert-info alert-dismissible" role="alert" id="global-alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
    <p>{{{message}}}</p>
    <!--<p><button type="button" class="btn btn-danger">Take this action</button></p>-->
</div>